.planner-container {
    margin-left: 1rem;
  width: 100%;
  height: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.insights-container {
  margin-top: 2rem;
}

/* keep border around td */
td {
  border: 1px solid #a1a1a1;
  padding: 0.5rem;
}

/* give color to total row */
tr.total-row {
  background-color: #ddd;
}