/* span element with class name result should be clickable */
.result {
  cursor: pointer;
}

/* div with class search-results should be displayed as a popover */
.search-results {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 160px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

/* disable the bullet in li under div with class search-results */
.search-results ul li {
  list-style-type: none;
  border-bottom: 1px solid #ddd;
}